form {

	input[type=text] {
		width: 100%;
		padding: 0 1em;
		height: 50px;
		border: 1px solid $grey-light;
	}

	button {
		height: 50px;
		width: 50px;
		line-height: 50px;
		text-align: center;
    background: $white;
    border: 1px solid $grey-light;
    border-left: 0;
    cursor: pointer;
    
		img {
			width: 16px;
		}
	}
}